@charset "utf-8";

$primary: #575761;
$shadow: #4a4a52;
$highlight: #646470;
$branding: #ffbf46;
$spotify: #8acb88;

$secondary: $highlight;
$warning: $branding;
$info: $spotify;

#freq {
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    background: $primary;
}

.navbar-brand {
    font-family: 'Sora';
    font-size: 2rem;
    text-shadow: 1px 1px 0px $shadow,
        -1px -1px 0px $highlight;
}

.brand {
    font-family: 'Sora';
    color: #ffffff;
    text-shadow: 1px 1px 0px $shadow,
        -1px -1px 0px $highlight;
}

body {
    background: $primary;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.center {
    margin: auto;
}

#buttons,
#buttonsfoot {
    position: absolute;
    box-shadow: 5px 5px 9px $shadow;
}

#buttonsfoot {
    box-shadow: -5px -5px 9px $shadow;
}

.hidden {
    opacity: 0;
}

.hidden:hover {
    opacity: 1;
}


#mic,
#show,
#liteOff,
#stop,
#resume,
#pause,
#upload,
#spotifyback,
#spotifyskip,
#spotifypause,
#spotifyresume,
#spotifyshuffle,
#spotifyshuffleoff,
#mic2,
#show2,
#stop2,
#resume2,
#pause2,
#upload2,
#spotifyback2,
#spotifyskip2,
#spotifypause2,
#spotifyresume2,
#spotifyshuffle2,
#spotifyshuffleoff2 {
    display: none;
}

#title,
#artist,
#album {
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 999;
    font-weight: 100;
    font-family: "Sora";
    color: #ffffff;
    visibility: hidden;
    letter-spacing: -.05em;
    margin-bottom: 15px;
}

#song_info_wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
}

#title {
    font-size: 10vw;
}

#artist {
    font-size: 3vw;
}

#album {
    font-size: 3vw;
    margin-bottom: 0;
}

#loading {
    display: inline-block;
    top: 44px;
    left: 110px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

@media screen and (min-width: 1000px) {
    #title {
        font-size: 100px;
    }

    #artist,
    #album {
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {

    #artist,
    #album {
        font-weight: 300;
        font-size: 4vw;
    }
}

@media screen and (max-width: 436px) {

    #artist,
    #album {
        font-weight: 300;
        font-size: 4.5vw;
    }

    #title {
        font-size: 10vw;
    }
}

@media screen and (max-width: 768px) {
    .navbar-brand {

        font-size: 1.5rem;
    }
}

@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
$navbar-breakpoint: $off;
@import "../node_modules/bulma/bulma.sass";