@charset "utf-8";

$primary: #575761;
$shadow: #4a4a52;
$highlight: #646470;
$branding: #ffbf46;
$spotify: #8acb88;

$secondary: $highlight;
$warning: $branding;
$info: $spotify;

/*
 * Audiovisualization using the html canvas element.
 * ©2017, Dominik Hofacker
 * https://www.behance.net/dominikhofacker
 * Please consider supporting this project on behance:
 * https://www.behance.net/gallery/49260123/Web-Audio-Visualization
 */

#freq {
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    background: $primary;
}

.navbar-item.navbar-center {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.navbar-brand {
    font-family: 'Sora';
    font-size: 1.5rem;
    text-shadow: 1px 1px 0px $shadow,
        -1px -1px 0px $highlight;
}

.brand {
    font-family: 'Sora';
    color: #ffffff;
    text-shadow: 1px 1px 0px $shadow,
        -1px -1px 0px $highlight;
}

body {
    background: $primary;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#buttons {
    position: absolute;
    width: 100vw;
    box-shadow: 5px 5px 9px $shadow;
}

.hidden {
    opacity: 0;
}

.hidden:hover {
    opacity: 1;
}


#mic,
#show,
#stop,
#resume,
#pause,
#upload,
#spotifyback,
#spotifyskip,
#spotifypause,
#spotifyresume,
#spotifyshuffle,
#spotifyshuffleoff {
    display: none;
}

#title,
#artist,
#album {
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 999;
    font-weight: 100;
    font-family: "Sora";
    color: #ffffff;
    visibility: hidden;
    letter-spacing: -.05em;
    margin-bottom: 15px;
}

#song_info_wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
}

#title {
    font-size: 10vw;
}

#artist {
    font-size: 3vw;
}

#album {
    font-size: 3vw;
    /*font-size: 40px;*/
    margin-bottom: 0;
}

#loading {
    display: inline-block;
    top: 44px;
    left: 110px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

@media screen and (min-width: 1000px) {
    #title {
        font-size: 100px;
    }

    #artist,
    #album {
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {

    #artist,
    #album {
        font-weight: 300;
        font-size: 4vw;
    }
}

@media screen and (max-width: 436px) {

    #artist,
    #album {
        font-weight: 300;
        font-size: 4.5vw;
    }
}

@import "../node_modules/bulma/bulma.sass";