@charset "utf-8";

$primary: #faf3dd;
$shadow: #d5cfbc;
$highlight: #fffffe;

$seconary: $highlight;

/*
 * Audiovisualization using the html canvas element.
 * ©2017, Dominik Hofacker
 * https://www.behance.net/dominikhofacker
 * Please consider supporting this project on behance:
 * https://www.behance.net/gallery/49260123/Web-Audio-Visualization
 */

#freq {
    background: $primary;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='318' height='318' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d5cfbc' fill-opacity='0.04'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

.navbar-brand {
    font-family: 'Sora';
    color: $primary !important;
    font-size: 2rem;
    text-shadow: 1px 1px 0px $shadow,
        -1px -1px 0px $highlight;
}

body {
    background: $primary;
    overflow: hidden;
}

#buttons {
    position: absolute;
    width: 100vw;
    background: #faf3dd;
    box-shadow:  5px 5px 9px #d5cfbc; 
}

.hidden {
    opacity: 0;
}

.hidden:hover {
    opacity: 1;
}

#title,
#artist,
#album {
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 999;
    font-weight: 100;
    font-family: "Cutive Mono", sans-serif;
    color: $primary;
    visibility: hidden;
    letter-spacing: -.05em;
    text-shadow: 1px 1px 0px $shadow,
        -1px -1px 0px $highlight;
    margin-bottom: 15px;
}

#song_info_wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
}

#title {
    font-size: 10vw;
}

#artist {
    font-size: 3vw;
}

#album {
    font-size: 3vw;
    /*font-size: 40px;*/
    margin-bottom: 0;
}

#loading {
    display: inline-block;
    top: 44px;
    left: 110px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

@media screen and (min-width: 1000px) {
    #title {
        font-size: 100px;
    }

    #artist,
    #album {
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {

    #artist,
    #album {
        font-weight: 300;
        font-size: 4vw;
    }
}

@media screen and (max-width: 436px) {

    #artist,
    #album {
        font-weight: 300;
        font-size: 4.5vw;
    }
}

@import "../node_modules/bulma/bulma.sass";